/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-meu-primeiro-block {
	background-color: #222;
	color: #f4f4f4;
	padding: 1.2em;
	display: flex;

	.avatar {
		border-radius: 100%;
		max-width: 30%;
		width: 180px;
		height: 180px;
	}

	.content {
		margin-left: 20px;

		.link-repo {
			color: #ff9800;
		}
	}

	.title,
	.sub-title {
		margin-bottom: 0.3em;
		margin-top: 0;
	}

	.title {
		color: #f4f4f4;
	}

	.sub-title {
		color: #ff9800;
	}
}
