/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


 :root {
	 --color-black: #313131;
	 --color-white: #f4f4f4;
	 --color-yellow: #ff9800;
	 --border-radius-block-default: 0;
	 --border-radius-block-is-rounded: 25px;
 }

.wp-block-create-block-meu-primeiro-block {
	background-color: var(--color-black);
	color: var(--color-white);
	padding: 1.2em;
	display: flex;
	flex-wrap: wrap;
	border-radius: var(--border-radius-block-default);

	&.is-style-rounded {
		border-radius: var(--border-radius-block-is-rounded);

		.subject-list li {
			border-radius: var(--border-radius-block-is-rounded);
		}
	}

	.avatar {
		border-radius: 100%;
		max-width: 30%;
		width: 180px;
		height: 180px;
	}

	.content {
		margin-left: 20px;
		flex: 1;
	}

	.subject-list {
		padding: 0;
		margin: 0;
		list-style-type: none;

		li {
			background-color: var(--color-yellow);
			color: var(--color-black);
			padding: 0.3em 1em;
			border-radius: var(--border-radius-block-default);
			font-weight: 700;
			margin: 0.3em;
			display: inline-block;

			&:before {
				content: "#";
				margin-right: 0.5em;
			}
		}
	}

	.title,
	.sub-title {
		margin-bottom: 0.3em;
		margin-top: 0;
	}

	.title {
		color: var(--color-white);
	}

	.sub-title {
		color: var(--color-yellow);
	}

	.footer {
		margin-top: 20px;
		text-align: center;
		width: 100%;
		padding: 0.5em;

		.link-repo{
			color: var(--color-yellow);
		}
	}
}
